@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #17171c;
  color: #e8e8ec;
  font-family: system-ui, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
